@font-face {
    font-family: 'Montserrat-Bold';
    src: local('☺'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: local('☺'), url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('☺'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lato-Regular';
    src: local('☺'), url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: local('☺'), url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Regular';
    src: local('☺'), url('../fonts/Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Light';
    src: local('☺'), url('../fonts/Stolzl-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;

    &.light {
        --color-bg: #f3f6f9;
        --color-text-credit: #afb7c2;
        --color-text: #4c5867;
        --color-select-bg: #02517c;
        --color-theme-bg: #02517c;
        --color-span: #02517c;
        --color-item-bg: #ffffff;
    }

    &.dark {
        --color-bg: #4c5867;
        --color-text-credit: #ffffff;
        --color-select-bg: #fff;
        --color-text: #fff;
        --color-span: #fff;
        --color-item-bg: #afb7c2;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: var(--color-bg);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.page__text {
    font-size: 18px;
    line-height: 20px;

    span {
        color: #0056a0;
    }
}

/* burger start */


.burger {
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    z-index: 150;
    width: 64px;
    background: none;
    height: 64px;

    &.burger--active {
        .burger-line {
            opacity: 0;
            transition: opacity 0s;
        }

        &::after {
            width: 40px;
            transform: translateY(-18px) rotate(-135deg);
            background-color: #fff;
        }

        &::before {
            width: 40px;
            transform: translateY(13px) rotate(135deg);
            background-color: #fff;
        }
    }

    &::before,
    &::after {
        content: '';
        transition: transform .2s linear;
        height: 6px;
        border-radius: 4px;
        background-color: #afb7c2;
        display: block;
        margin-bottom: 10px;
    }

    &::before {
        width: 40px;
    }

    &::after {
        margin-bottom: 0;
        width: 12px;
    }

    &-line {
        background-color: #afb7c2;
        width: 20px;
        height: 6px;
        border-radius: 4px;
        display: block;
        margin-bottom: 10px;
        transition: opacity .7s;
    }
}

/* burger end */


/* header start */

.header {
    padding: 40px 0;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all .2s linear;

    &.active {
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0px 10px 25px 7px rgba(34, 60, 80, 0.2);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        position: absolute;
        top: 0;
        left: -100%;
        bottom: 0;
        min-height: 100vh;
        padding: 180px 20px 20px 0;
        overflow-y: auto;
        z-index: 100;
        background-color: #2d3d51;
        min-width: 50%;
        transition: left .2s linear;

        &.active {
            left: 0;
        }
    }

    &__menu {
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        font-family: 'Montserrat-Regular';

        &-item {
            position: relative;
            background-color: #32445a;
            padding: 15px 10px 15px 80px;
            font-family: 'Montserrat-Regular';

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &-repay:before {
                background-image: url(../images/repay.png);
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 27px;
            }

            &-get::before {
                background-image: url(../images/get.png);
                top: 40%;
                width: 33px;
                height: 32px;
            }

            &-about::before {
                background-image: url(../images/about.png);
                width: 35px;
                height: 32px;
            }

            &-questions::before {
                background-image: url(../images/questions.png);
                width: 42px;
                height: 31px;
            }

            &-bonuses::before {
                background-image: url(../images/bonuses.png);
                width: 37px;
                height: 31px;
            }
        }



        &-item + &-item {
            margin-top: 40px;
        }
    }

    &__logo {
        max-width: 250px;

        img {
            width: 100%;
        }
    }


    &__theme {
        border-radius: 11px;
        display: flex;
        align-items: center;

        &-btn {
            border: none;
            outline: none;
            background-color: #afb7c2;
            transition: all .2s linear;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            padding-top: 5px;

            svg {
                width: 26px;
                height: 30px;
                fill: #fff;
            }

            &.active {
                background-color: #4c5867;

                svg {
                    fill: #000;
                    stroke: #000;
                }
            }
        }

        &-dark {
            margin-left: 10px;

            svg {
                stroke: #fff;
            }
        }
    }

}

/* header end */

/* country start */

.select {
    padding: 15px 0;
    position: relative;
    margin-bottom: 50px;
    user-select: none;
    margin-top: 150px;

    &__header {
        background-color: #fff;
        border-radius: 31px;
        padding: 15px 20px;
        position: relative;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-bottom-right-radius: 31px;
        border-top-right-radius: 31px;
        right: -2px;
        height: 100%;
        padding: 25px;
        transform: translateY(-50%);
        background-color: #afb7c2;
        transition: all .2s linear;

        img {
            transition: all .2s linear;
        }

        &.active {
            background-color: #4c5867;

            img {
                transform: rotate(180deg);
            }
        }
    }

    &__current,
    &__item {
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 30px;
        color: #afb7c2;
        font-family: 'Lato-Regular';

        img {
            width: 25px;
            height: 17px;
            object-fit: cover;
            margin-right: 25px;
        }

        p {
            padding-left: 20px;
            border-left: 1px solid #f3f6f9;
        }
    }

    &__item + &__item {
        margin-top: 25px;
    }

    &__body {
        position: absolute;
        //        left: 80px;
        //        right: 80px;
        padding: 40px 20px;
        top: 85%;
        width: 96%;
        background-color: #fff;
        z-index: 5;
        display: none;
        border-radius: 31px;
    }

    &__body.active {
        display: block;
    }

}

/* country end */

/* credit start */

.credit {
        padding-bottom: 20px;


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        font-family: 'Lato-Light';
        font-size: 18px;
        line-height: 60px;
    }

    &__offers,
    &__loan {
        color: var(--color-text-credit) !important;

        span {
            color: var(--color-span) !important;
        }
    }

    &__loan {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -3px;
            left: -30px;
            background-image: url(../images/dollar.svg);
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 30px;
        color: var(--color-text);
        text-align: center;
        max-width: 550px;
        font-family: 'Stolzl-Light';

        margin: 0 auto 35px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        border-radius: 41px;
        background-color: var(--color-item-bg);
        padding: 30px 20px;
        color: #4c5867;
        position: relative;
        font-family: 'Stolzl-Regular';

    }

    &__left {
        margin-right: 10px;
    }

    &__img {
        margin-bottom: 25px;
        max-width: 150px;
        object-fit: contain;
    }

    &__encouraged {
        padding-left: 35px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -2px;
            left: 0;
            background-image: url(../images/check-mark.svg);
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        span {
            display: block;
            margin-top: 5px;
            position: relative;
        }
    }

    &__right {}

    &__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;

        &-item {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: -20px;
                background-color: #afb7c2;
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
    }

    &__btn {
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        border-radius: 28px;
        background-color: #4c5867;
        padding: 20px 35px;
        font-size: 15px;
        letter-spacing: 2px;
        line-height: 18px;
        color: #ffffff;
        border: none;
        outline: none;
    }

    &__banks {
        display: flex;
        align-items: center;
        margin-right: 10px;

        &-img {
            max-width: 60px;
            max-height: 33px;
            object-fit: contain;

            & + & {
                margin-left: 10px;
            }
        }
    }


}

/* credit end */


/* meadia start */

@media(max-width: 740px) {
    .header__nav {
        padding: 180px 10px 10px 15px;
    }



    .credit__btn {
        padding: 15px 20px;
    }

}

@media(max-width: 670px) {
    .page__text {
        font-size: 15px;
        line-height: 18px;
    }
}

@media(max-width: 600px) {
    .page__title {
        font-size: 12px;
        line-height: 15px;
    }

    .header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .select {
        margin-top: 125px;
    }

    .header__menu-item {
        padding-left: 35px;

        &-repay:before {
            width: 22px;
            height: 15px;
            left: 6px;
        }

        &-get::before {
            width: 23px;
            height: 22px;
            left: 6px;

        }

        &-about::before {
            width: 24px;
            height: 22px;
            left: 6px;
        }

        &-questions::before {
            width: 26px;
            height: 19px;
            left: 5px;

        }

        &-bonuses::before {
            width: 27px;
            height: 23px;
            left: 6px;

        }
    }

    .header__menu-item + .header__menu-item {
        margin-top: 25px;
    }

    .header__menu {
        font-size: 15px;
        line-height: 18px;
    }

    .credit__info-item::before {
        left: -15px;
    }

    .credit__item {
        padding: 20px 10px;
    }

    .credit__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 13px !important;
    }

    .credit__info-item {
        margin-left: 27px;
    }

    .credit__bottom {
        justify-content: flex-end;
    }

    .credit__img {
        max-width: 130px;
        margin-left: 5px;
    }

    .credit__banks {
        margin-right: 10px;
    }

    .credit__btn {
        padding: 15px;
        font-size: 12px;
    }



    .credit__title {
        font-size: 18px;
        line-height: 24px;
        margin: 0 auto 15px;
    }
}

@media(max-width: 520px) {
    .page__text {
        font-size: 13px;
        line-height: 15px;
    }

    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .select {
        margin-top: 105px;
    }

    .header__logo {
        max-width: 200px;
    }

    .header__theme {}

    .header__theme-btn svg {
        width: 20px;
        height: 25px;
    }

    .credit__encouraged::before {
        width: 15px;
        height: 15px;
    }
    .credit__encouraged {
        padding-left: 25px;
    }

    .credit__btn {
        padding: 10px;
        font-size: 11px;
    }

    .credit__encouraged {
        max-width: 120px;

    }

    .credit__encouraged span::before {
        top: -3px;
    }

    .credit__img {
        max-width: 115px;
    }

    .credit__banks-img {
        max-width: 45px;
        max-height: 30px;
    }
}

@media(max-width: 470px) {

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header__theme-btn svg {
        width: 18px;
        height: 20px;
    }

    .burger {
        width: 45px;
        height: 45px;
        padding: 10px 8px;
    }

    .burger.burger--active::after {
        width: 30px;
        transform: translateY(-14px) rotate(-135deg);
    }

    .burger.burger--active::before {
        width: 30px;
        transform: translateY(7px) rotate(135deg);
    }

    .burger-line {
        width: 15px;
        margin-bottom: 5px;
    }

    .burger::before {
        width: 25px;
        margin-bottom: 5px;
    }

    .burger::after {
        width: 10px;
    }

    .header__logo {
        max-width: 170px;
    }

    .header__nav {
        padding: 110px 10px 10px 15px;
    }

    .select {
        margin-bottom: 15px;
        margin-top: 80px;
    }

    .select__current p, .select__item p {
        padding-left: 10px;
    }

    .select__current img, .select__item img {
        margin-right: 10px;
    }

    .select__arrow {
        padding: 15px 15px 10px 15px;
    }

    .select__arrow img {
        width: 15px;
        height: 10px;
    }

    .select__header {
        padding: 10px;
    }

    .select__body {
        width: 93%;
        padding: 20px 10px;
    }

    .select__current,
    .select__item {
        font-size: 20px;
        line-height: 25px;
    }

    .credit__info-item {
        margin-left: 20px;
    }

    .credit__info-item::before {
        top: 2px;
        left: -10px;
        width: 5px;
        height: 5px;
    }

    .credit__top {
        margin-bottom: 25px;
    }

    .credit__title {
        font-size: 14px;
        line-height: 20px;
    }

    .credit__img {
        max-width: 100px;
        margin-bottom: 15px;
    }

    .credit__bottom {
        margin-top: 30px;
    }

    .credit__btn {
        font-size: 8px;
        padding: 5px;
    }

    .credit .page__text {
        font-size: 11px !important;
        line-height: 11px;;
    }

}

@media(max-width: 400px) {
    .credit__item {
        padding: 15px 10px;
    }

    .credit .page__text {
        font-size: 9px !important;
        line-height: 10px;;
    }

    .credit__btn {
        font-size: 5px;
        padding: 5px;
    }

    .credit__banks-img {
        max-width: 35px;
        max-height: 30px;
    }
}

@media(max-width: 370px) {
    .credit__img {
        max-width: 80px;
        margin-bottom: 10px;
    }
    .credit__bottom {
        margin-top: 20px;
    }
}

/* meadia end */
